In [20]:
%%capture
!pip install openpyxl
import numpy as np
import pandas as pd

In [2]:
df= pd.read_excel('Canada.xlsx',
                  sheet_name='Canada by Citizenship',
                  skiprows=range(20),
                  skipfooter=2)

In [3]:
df.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 43 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Type      195 non-null    object
 1   Coverage  195 non-null    object
 2   OdName    195 non-null    object
 3   AREA      195 non-null    int64
 4   AreaName  195 non-null    object
 5   REG       195 non-null    int64
 6   RegName   195 non-null    object
 7   DEV       195 non-null    int64
 8   DevName   195 non-null    object
 9   1980      195 non-null    int64
 10  1981      195 non-null    int64
 11  1982      195 non-null    int64
 12  1983      195 non-null    int64
 13  1984      195 non-null    int64
 14  1985      195 non-null    int64
 15  1986      195 non-null    int64
 16  1987      195 non-null    int64
 17  1988      195 non-null    int64
 18  1989      195 non-null    int64
 19  1990      195 non-null    int64
 20  1991      195 non-null    int64
 21  1992      195 non-null    int64
 22  1993      195 non-null    int64
 23  1994      195 non-null    int64
 24  1995      195 non-null    int64
 25  1996      195 non-null    int64
 26  1997      195 non-null    int64
 27  1998      195 non-null    int64
 28  1999      195 non-null    int64
 29  2000      195 non-null    int64
 30  2001      195 non-null    int64
 31  2002      195 non-null    int64
 32  2003      195 non-null    int64
 33  2004      195 non-null    int64
 34  2005      195 non-null    int64
 35  2006      195 non-null    int64
 36  2007      195 non-null    int64
 37  2008      195 non-null    int64
 38  2009      195 non-null    int64
 39  2010      195 non-null    int64
 40  2011      195 non-null    int64
 41  2012      195 non-null    int64
 42  2013      195 non-null    int64
dtypes: int64(37), object(6)
memory usage: 65.6+ KB

In [5]:
df.columns

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')

In [6]:
df.shape

(195, 43)

In [7]:
#df.drop(['AREA','REG','DEV','Type','Coverage'], axis=1, inplace=True)
df.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [8]:
df.rename(columns={'OdName': 'Country', 'AreaName': 'Continent', 'RegName': 'Region'}, inplace=True)
df.columns

Index([     'Type',  'Coverage',   'Country',      'AREA', 'Continent',
             'REG',    'Region',       'DEV',   'DevName',        1980,
              1981,        1982,        1983,        1984,        1985,
              1986,        1987,        1988,        1989,        1990,
              1991,        1992,        1993,        1994,        1995,
              1996,        1997,        1998,        1999,        2000,
              2001,        2002,        2003,        2004,        2005,
              2006,        2007,        2008,        2009,        2010,
              2011,        2012,        2013],
      dtype='object')

In [9]:
df.isnull().sum()

Type         0
Coverage     0
Country      0
AREA         0
Continent    0
REG          0
Region       0
DEV          0
DevName      0
1980         0
1981         0
1982         0
1983         0
1984         0
1985         0
1986         0
1987         0
1988         0
1989         0
1990         0
1991         0
1992         0
1993         0
1994         0
1995         0
1996         0
1997         0
1998         0
1999         0
2000         0
2001         0
2002         0
2003         0
2004         0
2005         0
2006         0
2007         0
2008         0
2009         0
2010         0
2011         0
2012         0
2013         0
dtype: int64

In [10]:
df.describe()

,AREA,REG,DEV,1980,1981,1982,1983,1984,1985,1986,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
count,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,...,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000,195.000000
mean,912.764103,1249.015385,901.753846,508.394872,566.989744,534.723077,387.435897,376.497436,358.861538,441.271795,...,1190.169231,1320.292308,1266.958974,1191.820513,1246.394872,1275.733333,1420.287179,1262.533333,1313.958974,1320.702564
std,13.082835,1185.526885,0.431878,1949.588546,2152.643752,1866.997511,1204.333597,1198.246371,1079.309600,1225.576630,...,3710.505369,4425.957828,3926.717747,3443.542409,3694.573544,3829.630424,4462.946328,4030.084313,4247.555161,4237.951988
min,903.000000,905.000000,901.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,903.000000,914.000000,902.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,...,19.000000,28.500000,25.000000,31.000000,31.000000,36.000000,40.500000,37.500000,42.500000,45.000000
50%,908.000000,922.000000,902.000000,13.000000,10.000000,11.000000,12.000000,13.000000,17.000000,18.000000,...,191.000000,210.000000,218.000000,198.000000,205.000000,214.000000,211.000000,179.000000,233.000000,213.000000
75%,922.000000,925.500000,902.000000,251.500000,295.500000,275.000000,173.000000,181.000000,197.000000,254.000000,...,756.500000,832.000000,842.000000,899.000000,934.500000,888.000000,932.000000,772.000000,783.000000,796.000000
max,935.000000,5501.000000,902.000000,22045.000000,24796.000000,20620.000000,10015.000000,10170.000000,9564.000000,9470.000000,...,36619.000000,42584.000000,33848.000000,28742.000000,30037.000000,29622.000000,38617.000000,36765.000000,34315.000000,34129.000000

In [11]:
df.set_index('Country', inplace=True)

In [12]:
#number of immigrants from India in 2010
df.loc['India', 2010]

np.int64(34235)

In [13]:
condition = df['Continent'] == 'Asia'
print(condition)

Country
Afghanistan        True
Albania           False
Algeria           False
American Samoa    False
Andorra           False
                  ...
Viet Nam           True
Western Sahara    False
Yemen              True
Zambia            False
Zimbabwe          False
Name: Continent, Length: 195, dtype: bool

In [14]:
df[condition]

,Type,Coverage,AREA,Continent,REG,Region,DEV,DevName,1980,1981,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,16,39,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
Armenia,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,0,...,147,224,218,198,205,267,252,236,258,207
Azerbaijan,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,0,...,230,359,236,203,125,165,209,138,161,57
Bahrain,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,2,...,12,12,12,22,9,35,28,21,39,32
Bangladesh,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,83,84,...,2660,4171,4014,2897,2939,2104,4721,2694,2640,3789
Bhutan,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,0,0,...,1,5,10,7,36,865,1464,1879,1075,487
Brunei Darussalam,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,79,6,...,3,4,5,11,10,5,12,6,3,6
Cambodia,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,12,19,...,348,370,529,460,354,203,200,196,233,288
China,Immigrants,Foreigners,935,Asia,906,Eastern Asia,902,Developing regions,5123,6682,...,36619,42584,33518,27642,30037,29622,30391,28502,33024,34129
"China, Hong Kong Special Administrative Region",Immigrants,Foreigners,935,Asia,906,Eastern Asia,902,Developing regions,0,0,...,536,729,712,674,897,657,623,591,728,774
"China, Macao Special Administrative Region",Immigrants,Foreigners,935,Asia,906,Eastern Asia,902,Developing regions,0,0,...,21,21,32,16,12,21,21,13,33,29
Cyprus,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,132,128,...,11,7,9,4,7,6,18,6,12,16
Democratic People's Republic of Korea,Immigrants,Foreigners,935,Asia,906,Eastern Asia,902,Developing regions,1,1,...,15,14,10,7,19,11,45,97,66,17
Georgia,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,0,...,106,114,125,132,112,128,126,139,147,125
India,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,8880,8670,...,28235,36210,33848,28742,28261,29456,34235,27509,30933,33087
Indonesia,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,186,178,...,552,632,613,657,661,504,712,390,395,387
Iran (Islamic Republic of),Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,1172,1429,...,6348,5837,7480,6974,6475,6580,7477,7479,7534,11291
Iraq,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,262,245,...,1796,2226,1788,2406,3543,5450,5941,6196,4041,4918
Israel,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,1403,1711,...,2788,2446,2625,2401,2562,2316,2755,1970,2134,1945
Japan,Immigrants,Foreigners,935,Asia,906,Eastern Asia,901,Developed regions,701,756,...,973,1067,1212,1250,1284,1194,1168,1265,1214,982
Jordan,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,177,160,...,1733,1940,1827,1421,1581,1235,1831,1635,1206,1255
Kazakhstan,Immigrants,Foreigners,935,Asia,5500,Central Asia,902,Developing regions,0,0,...,545,506,408,436,394,431,377,381,462,348
Kuwait,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,1,0,...,74,66,35,62,53,68,67,58,73,48
Kyrgyzstan,Immigrants,Foreigners,935,Asia,5500,Central Asia,902,Developing regions,0,0,...,245,173,161,135,168,173,157,159,278,123
Lao People's Democratic Republic,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,11,6,...,38,42,74,53,32,39,54,22,25,15
Lebanon,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,1409,1119,...,3293,3709,3802,3467,3566,3077,3432,3072,1614,2172
Malaysia,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,786,816,...,401,593,580,600,658,640,802,409,358,204
Maldives,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,0,0,...,1,0,0,2,1,7,4,3,1,1
Mongolia,Immigrants,Foreigners,935,Asia,906,Eastern Asia,902,Developing regions,0,0,...,34,59,64,82,59,118,169,103,68,99
Myanmar,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,80,62,...,191,210,953,1887,975,1153,556,368,193,262
Nepal,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,1,1,...,404,607,540,511,581,561,1392,1129,1185,1308
Oman,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,0,...,12,14,18,16,10,7,14,10,13,11
Pakistan,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,978,972,...,13399,14314,13127,10124,8994,7217,6811,7468,11227,12603
Philippines,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,6051,5921,...,14004,18139,18400,19837,24887,28573,38617,36765,34315,29544
Qatar,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,0,...,5,11,2,5,9,6,18,3,14,6
Republic of Korea,Immigrants,Foreigners,935,Asia,906,Eastern Asia,902,Developing regions,1011,1456,...,5352,5832,6215,5920,7294,5874,5537,4588,5316,4509
Saudi Arabia,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,0,...,128,198,252,188,249,246,330,278,286,267
Singapore,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,241,301,...,311,392,298,690,734,366,805,219,146,141
Sri Lanka,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,185,371,...,4495,4930,4714,4123,4756,4547,4422,3309,3338,2394
State of Palestine,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,0,...,376,453,627,441,481,400,654,555,533,462
Syrian Arab Republic,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,315,419,...,1116,1458,1145,1056,919,917,1039,1005,650,1009
Tajikistan,Immigrants,Foreigners,935,Asia,5500,Central Asia,902,Developing regions,0,0,...,14,85,46,44,15,50,52,47,34,39
Thailand,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,56,53,...,392,575,500,487,519,512,499,396,296,400
Turkey,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,481,874,...,1736,2065,1638,1463,1122,1238,1492,1257,1068,729
Turkmenistan,Immigrants,Foreigners,935,Asia,5500,Central Asia,902,Developing regions,0,0,...,16,40,26,37,13,20,30,20,20,14
United Arab Emirates,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,0,2,...,41,31,42,37,33,37,86,60,54,46
Uzbekistan,Immigrants,Foreigners,935,Asia,5500,Central Asia,902,Developing regions,0,0,...,175,330,262,284,215,288,289,162,235,167
Viet Nam,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,1829,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
Yemen,Immigrants,Foreigners,935,Asia,922,Western Asia,902,Developing regions,1,2,...,124,161,140,122,133,128,211,160,174,217

In [15]:
df[(df['Continent']=='Africa') & (df['Region']=='Southern Africa')]

,Type,Coverage,AREA,Continent,REG,Region,DEV,DevName,1980,1981,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,
Botswana,Immigrants,Foreigners,903,Africa,913,Southern Africa,902,Developing regions,10,1,...,9,7,11,8,28,15,42,53,64,76
Lesotho,Immigrants,Foreigners,903,Africa,913,Southern Africa,902,Developing regions,1,1,...,2,4,0,4,1,8,7,1,0,6
Namibia,Immigrants,Foreigners,903,Africa,913,Southern Africa,902,Developing regions,0,5,...,9,6,19,13,26,14,16,23,24,83
South Africa,Immigrants,Foreigners,903,Africa,913,Southern Africa,902,Developing regions,1026,1118,...,1175,988,1111,1200,1123,1188,1238,959,1243,1240
Swaziland,Immigrants,Foreigners,903,Africa,913,Southern Africa,902,Developing regions,4,1,...,8,7,7,5,6,10,3,13,17,39

In [16]:
years= list(range(1980, 2014))

df['Total'] = df[years].sum(axis=1)
df['Total']

Country
Afghanistan       58639
Albania           15699
Algeria           69439
American Samoa        6
Andorra              15
                  ...
Viet Nam          97146
Western Sahara        2
Yemen              2985
Zambia             1677
Zimbabwe           8598
Name: Total, Length: 195, dtype: int64

In [17]:
#top 5 countries that contributed the most to immigration in Canada
df.sort_values(by='Total', ascending=False, axis=0, inplace=True)
top_5= df.head()
top_5

,Type,Coverage,AREA,Continent,REG,Region,DEV,DevName,1980,1981,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
India,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,8880,8670,...,36210,33848,28742,28261,29456,34235,27509,30933,33087,691904
China,Immigrants,Foreigners,935,Asia,906,Eastern Asia,902,Developing regions,5123,6682,...,42584,33518,27642,30037,29622,30391,28502,33024,34129,659962
United Kingdom of Great Britain and Northern Ireland,Immigrants,Foreigners,908,Europe,924,Northern Europe,901,Developed regions,22045,24796,...,7258,7140,8216,8979,8876,8724,6204,6195,5827,551500
Philippines,Immigrants,Foreigners,935,Asia,920,South-Eastern Asia,902,Developing regions,6051,5921,...,18139,18400,19837,24887,28573,38617,36765,34315,29544,511391
Pakistan,Immigrants,Foreigners,935,Asia,5501,Southern Asia,902,Developing regions,978,972,...,14314,13127,10124,8994,7217,6811,7468,11227,12603,241600